.body {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	transition: left ease-in-out 0.3s;

	&--toggled {
		left: 16rem;
		overflow: hidden;
	}
}
