.banner {
	position: relative;
	min-height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&--filter {

		&::after {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(64, 64, 64, 0.5);
			content: '';
		}
	}

	&__content {
	}
}

@media (min-width: $breakpoint-sm) {
	.banner {
	}
}

@media (min-width: $breakpoint-md) {
	.banner {
	}
}

@media (min-width: $breakpoint-lg) {
	.banner {
	}
}

@media (min-width: $breakpoint-xl) {
	.banner {
	}
}