.banner {
	position: relative;
	min-height: 300px;
	margin: 0 -2rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&--filter {

		&::after {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.5);
			content: '';
		}
	}

	&__content {
		margin: 0 2rem;
	}
}