.row {
	@include container;

	.column {
		margin-top: 2rem;

		&:first-child {
			margin-top: 0;
		}
	}
}

@media (min-width: $breakpoint-md) {
	.row {

		.column {
			margin-top: 0;

			&--half {
				@include span(6);
			}

			&--third {
				@include span(4);
			}

			&--two-thirds {
				@include span(8);
			}

			&--quarter {
				@include span(3);
			}

			&--sixth {
				@include span(2);
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}