<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Speed Bucket</title>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div class="container">
			<a class="header__logo" href="#" title="Speed Bucket"><img class="header__logo-image" src="/images/logo.jpg" /></a>
			<a class="header__nav-toggle" href="#"><span class="fa fa-fw fa-bars"></span></a>
		</div>
	</header>

	<nav class="nav">
		<ul class="nav__items">
			<li class="nav__item"><a class="nav__link" href="/">Home</a></li>
			<li class="nav__item"><a class="nav__link" href="/about">About Us</a></li>
			<li class="nav__item"><a class="nav__link" href="/buy">Buy Speed Bucket</a></li>
			<li class="nav__item"><a class="nav__link" href="/quality">Quality Counts</a></li>
			<li class="nav__item"><a class="nav__link" href="/time">Time Is Money</a></li>
			<li class="nav__item"><a class="nav__link" href="/test">200 Pound Test</a></li>
			<li class="nav__item"><a class="nav__link" href="/stores">Buy In Stores</a></li>
			<li class="nav__item"><a class="nav__link" href="/contact">Contact Us</a></li>
		</ul>
	</nav>

	<main class="main">
		{{ content }}
	</main>
	
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="column column--half">
					&copy; Copyright Speed Bucket 2016
				</div>
				<div class="column column--half"></div>
			</div>
		</div>
	</footer>

	<script src="js/lib.min.js"></script>
	<script src="js/main.min.js"></script>
</body>
</html>