<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Speed Bucket is one of the painting tools that will increase your profits.">
	<meta name="robots" content="index,follow">
	<meta name="google-site-verification" content="H7X1iq5FpYMDp9DZi-es8nV7EAr8wAq3GEYqzX0hLzE" />
	<meta name="msvalidate.01" content="3A006D4EB5AA2EF64FAA993C50FF697C" />
	<meta name="norton-safeweb-site-verification" content="427qze551ywi125zd5u13q8tgckwlpe7h0k0rsq2s-85m-3lmnviubsyi034qxarxzbsb62fmhxevix8ss7bkyvamu2pxv2l39e9r718wy5khdbn54uhoewexo1uh6rr" />
	<meta name="rating" content="General">
	<meta name="geo.region" content="US">
	<title>Speed Bucket</title>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div class="container">
			<a class="header__logo" href="/" title="Speed Bucket"><img class="header__logo-image" src="/images/logo.jpg" /></a>
			<a class="header__nav-toggle" href="#"><span class="fa fa-fw fa-bars"></span></a>
		</div>
	</header>

	<nav class="nav">
		<a href="#" class="nav__toggle"><span class="fa fa-fw fa-close"></span></a>
		<ul class="nav__items">
			<li class="nav__item"><a class="nav__link" href="/">Home</a></li>
			<li class="nav__item"><a class="nav__link" href="/about">About Us</a></li>
			<li class="nav__item"><a class="nav__link" href="/buy">Buy Speed Bucket</a></li>
			<li class="nav__item"><a class="nav__link" href="/quality">Quality Counts</a></li>
			<li class="nav__item"><a class="nav__link" href="/time">Time Is Money</a></li>
			<li class="nav__item"><a class="nav__link" href="/test">200 Pound Test</a></li>
			<li class="nav__item"><a class="nav__link" href="/stores">Buy In Stores</a></li>
			<li class="nav__item"><a class="nav__link" href="/contact">Contact Us</a></li>
		</ul>
	</nav>

	<main class="main">
		{{ content }}
	</main>
	
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="column column--two-thirds">
					<p class="lead">Contact Info</p>
					<p>
						<span class="fa fa-fw fa-envelope"></span> <a href="mailto:carvey123@comcast.net">carvey123@comcast.net</a>
						<br />
						<span class="fa fa-fw fa-phone"></span> <a href="tel:+17205812703">(720) 581-2703</a>
					</p>
				</div>

				<div class="column column--third">
					&copy; Copyright Speed Bucket 2016
				</div>
			</div>
		</div>
	</footer>

	<script src="js/lib.min.js"></script>
	<script src="js/main.min.js"></script>
</body>
</html>