.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -16rem;
	width: 16rem;
	overflow: auto;
	transition: left ease-in-out 0.3s;

	&--toggled {
		left: 0;
	}
	
	&__items {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
	}

	&__link {
		display: block;
		padding: 0.5rem 1rem;
		color: #000066;
		font-size: 1.1rem;
		text-decoration: none;

		&:hover {
			background-color: rgba(0, 0, 102, 0.1);
			color: lighten(#000066, 10%);
		}
	}
}

@media (min-width: $breakpoint-lg) {
	.nav {
	
		&__items {

		}

		&__item {

		}

		&__link {

		}
	}
}