.nav {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 5000;

	&__toggle {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 4rem;
		margin: 0.25rem 1rem;
		color: #FFF;
		font-size: 2rem;
		line-height: 4rem;
		text-align: center;
		text-decoration: none;
	}
	
	&__items {
		max-width: 75rem;
		height: 100%;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(space-around);
		@include align-items(center);
	}

	&__item {
		@include flex(0 0 0px);
	}

	&__link {
		display: block;
		color: #EFEFEF;
		font-size: 1rem;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: #FFF;
		}
	}
}

@media (min-width: $breakpoint-sm) {
	.nav {

		&__toggle {
		}
	
		&__items {
		}

		&__item {
		}

		&__link {
			font-size: 1.2rem;
		}
	}
}

@media (min-width: $breakpoint-md) {
	.nav {

		&__toggle {
		}
	
		&__items {
		}

		&__item {
		}

		&__link {
			font-size: 1.4rem;
		}
	}
}

@media (min-width: $breakpoint-lg) {
	.nav {

		&__toggle {
			margin: 0.25rem 1.5rem;
		}
	
		&__items {
		}

		&__item {
		}

		&__link {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: $breakpoint-xl) {
	.nav {

		&__toggle {
			margin: 0.25rem 2rem;
		}
	
		&__items {
		}

		&__item {
		}

		&__link {
			font-size: 1.8rem;
		}
	}
}