*, *::before, *::after {
	box-sizing: border-box;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
	@include clearfix;
}

@media (min-width: $breakpoint-lg) {
	.container {
		padding: 0 0.5rem;
	}
}