*, *::before, *::after {
	box-sizing: border-box;
}

a {
	color: #1B5299;
	text-decoration: none;

	&:hover, &:focus, &:active {
		color: lighten(#1B5299, 10%);
		text-decoration: underline;
	}
}

blockquote {
	font-family: $open-sans-condensed;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.5;
	text-align: center;

	&.alt {
		font-family: $open-sans;
	}
}

body {
	margin: 0;
	padding: 4.5rem 0 0;
	background-color: #FFF;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	transition: left ease-in-out 0.3s;
}

figure {
	margin: 0;

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
}

p {
	line-height: 1.5;

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.container {
	max-width: 62rem;
	margin: 0 auto;
	padding: 2rem 1rem;
	@include clearfix;
}

@media (min-width: $breakpoint-sm) {
	.container {
	}
}

@media (min-width: $breakpoint-md) {
	.container {
	}
}
@media (min-width: $breakpoint-lg) {
	.container {
		padding: 2rem 1.5rem;
	}
}
@media (min-width: $breakpoint-xl) {
	.container {
		padding: 2rem 2rem;
	}
}