//https://coolors.co/ffffff-666666-331832-694d75-1b5299

$susy: (
	columns: 12,
	gutters: 0.25
);

$open-sans: 'Open Sans', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 62rem;
$breakpoint-xl: 75rem;